@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
}


.top {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    height: 45px;
    background-color: rgb(240, 240, 240);
    background-color: linear-gradient(90deg,  rgba(240,191,184)B 50px, rgb(240, 240, 240) calc(100% - 50px));
    overflow: hidden;

}

.lines {
    height: 45px;
    width: 45px;
    font-size: 40px;
    background-color: rgba(240,191,184);
    color: white;
    text-align: center;

    border-width: 1px;
    border-color: rgba(240,191,184);
    z-index: 10;

}

.text-slider {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    padding: 3px;
    margin-top: 7px;
    animation: text-slider 25s linear infinite;
}

#tiempo {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 90;
    width: 100%;
    white-space: nowrap;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;

}

#envios {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 90;
    width: 100%;
    white-space: nowrap;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
}

#transf {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 90;
    width: 100%;
    white-space: nowrap;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
}

.barrita {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 90;
    width: 100%;
    white-space: nowrap;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
}

@keyframes text-slider {
    0% {margin-left: 100%;}
    100% {margin-left: -95%;}
}

.nav-menu{
    font-family: 'Inter', sans-serif;
    list-style: none;
    padding: 0;
    background: rgba(240,191,184);
    /*width: 100%;*/   
}

.nav-menu li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: block;
    margin-left: 25px;
}

.nav-menu li{
    display: inline-block;
    text-align: center;
}

.nav-menu li a:hover{
    background: rgba(243,207,198);
}

.header {
    display: block;
    position: sticky;
    background-color: white;
}

.banner{
    position: relative;
    background-color: white;
}

.banner h1{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 60px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom: 15px;
    padding: 40px;
    text-decoration: none;
    cursor: pointer;
}

.icons {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    gap: 17px;
}

.icon {
    font-size: 25px;
    color: rgb(209, 209, 209);
}

.icon:hover {
    color: rgb(197, 124, 113);
    transition: .4s;
}

.white-frame{
    background-color:white;
    width: 100%;
    height: 40px;
}



#productos {
    font-family: 'Aboreto', cursive;
    margin-left: 25px;
    font-size: 20px;
}

#stock {
    font-family: 'Aboreto', cursive;
    margin-left: 25px;
    font-size: 20px;
}

#not-yet-done {
    font-family: 'Aboreto', cursive;
    margin-left: 25px;
    font-size: 20px;
}

#moldes h2{
    font-family: 'Aboreto', cursive;
    margin-left: 25px;
    font-size: 30px;
    border-bottom: 1px solid rgb(160, 160, 160);
}


#vibe h2 {
    font-family: 'Aboreto', cursive;
    margin-left: 25px;
    font-size: 26px;
    border-bottom: 1px solid rgb(160, 160, 160);
}


.big-container {
    margin-top: 30px;
}

  .flt-left{
    float:left;
    margin-right: 30px;
    margin-left: 30px;
  }
  .carousel{
    width:100%;
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  .row{
    width:90%;
    overflow:hidden;
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height:100%;
  }
  .row-container{
    width: 9000px;
    transition:0.5s;
  }

  .container{
    width:400px;
    float:left;
    display:grid;
    row-gap: 40px;
    margin-right: 80px;
  }

  .container img {
    width: 380px;
    height: 380px;

    float: left;
    transition: transform .2s;
  }

  .container img:hover {
        opacity: 0.8;
        transition: 500ms;
    }
  
  .container h4 {
    font-family: 'Aboreto', cursive;
    font-size: 30px;
    text-align: center;
  }

  .container h5 {
    color: rgb(80, 80, 80);
    margin-top: 5px;
  }


  .container-specific{
    width:400px;
    float:left;
    display:grid;
    row-gap: 40px;
    margin-right: 80px;
  }

  .container-specific img {
    width: 380px;
    height: 380px;

    float: left;
  }

  .container-specific img:hover {
    opacity: 0.8;
    transition: 500ms;
}


  .container-specific h4 {
    font-family: 'Heebo', cursive;
    font-size: 30px;
  }

  .container-specific h5 {
    color: rgb(80, 80, 80);
  }



  .clear{
    clear:both;
  }
  .controls{
    width:100%;
    margin:auto;
  }
  .carousel button{
    border:none;
    padding:10px 20px;
    color:white;
    background-color: rgb(199, 199, 199);
    font-weight:bold;
    font-size: 30px;
    outline:none;
    border-radius:3px;
    height:200px;
    position: relative;
    margin-bottom: 8%;

    opacity: .7;
  }
  
 .carousel button:hover {
    background-color: rgb(199, 199, 199);
    opacity: 1;
 } 

.products-all {
    background-image: url(images/intento6.png);
    width: 90%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    opacity: .7;
    border-radius: 5px;
    position: relative;
    box-shadow: 15px 15px 15px #e6e6e6;
}

.products-all h2 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    position: absolute;
    margin-bottom: 10px;
    margin-right: 200px;
    transition: transform .9s;
}

.products-all:hover {
    transform: scale(1.05);
}


.moldes-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 80px;
 }

.molde-container-individual img{
    width: 200px;
    height: 200px;
    transition: transform .2s;
}

.molde-container-individual img:hover {
    transform: scale(1.1);
}


 #ver-todo {
    border: 1px solid rgb(233, 177, 168);
    width: 110px;
    font-size: 20px;
    font-family: 'Heebo', cursive;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    text-decoration: none !important;
    color: white;
    background-color: rgba(240,191,184);
}

#ver-todo:hover {
    background-color: rgb(226, 154, 142);

}

 

#vibe-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 80%;
    gap: 30px;
    row-gap: 50px;
}

.vibe-box {
    position: relative;
    transition: transform .4s;
}

.vibe-box:hover {
    opacity: 1;
    transform: scale(1.2);
}

/*PICNIC*/
.vibe-name-picnic {
    position: absolute;
    right: 36%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: antiquewhite !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-picnic {
    text-decoration: none;
}

.picnic {
    background-image: url(images/picnic.jpg);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}

/*DARK*/
.vibe-name-dark {
    position: absolute;
    right: 36%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: black !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-dark {
    text-decoration: none;
}

.dark {
    background-image: url(images/dark.png);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}

/*ACADEMIA*/
.vibe-name-academia {
    position: absolute;
    right: 28%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: antiquewhite !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-academia {
    text-decoration: none;
}

.academia {
    background-image: url(images/academia3.png);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}


/*NIGHT OUT*/
.vibe-name-night-out {
    position: absolute;
    right: 28%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: antiquewhite !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-night-out {
    text-decoration: none;
}

.night-out {
    background-image: url(images/night-out.png);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}

/*COTTAGECORE*/
.vibe-name-cottagecore {
    position: absolute;
    right: 19%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: antiquewhite !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-cottagecore {
    text-decoration: none;
}

.cottagecore {
    background-image: url(images/cottagecore.png);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}


/*COZY*/
.vibe-name-cozy {
    position: absolute;
    right: 38%;
    top: 34%;
    text-align: center;
    justify-content: center;
    color: antiquewhite !important;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    opacity: 1;
    text-decoration: none;
}

a .vibe-name-cozy {
    text-decoration: none;

}

.cozy {
    background-image: url(images/cozy.png);
    width: 270px;
    height: 130px;
    border-radius: 13%;
    opacity: .8;
}



.newsletter {
    background: url(images/newsletter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    border-radius: 8px;
}

.newsletter h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 200px;
    color: rgb(49, 49, 49);
}

.newsletter input {
    padding: 10px;
    width: 300px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.newsletter input,
.newsletter button {
    outline: none;
    border: none;
    font-size: 18px;
}

.newsletter div {
    margin-right: 200px;
}

.newsletter button {
    padding: 10px;
    width: 80px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #907669;
}

.newsletter button i {
    color: #fff;
}


@media screen and (width <=1200px) {
    .newsletter {
        background-position: center left;
    }

    .newsletter h3, .newsletter div {
        margin-right: 10%;
    }
    
    .newsletter h3 {
        font-size: 24px;
    }
    
    .newsletter input, .newsletter button {
        font-size: 14px;
    }
}

@media screen and (width <=900px) {
    .newsletter {
        width: 70%;
        height: 250px;
    }
}

@media screen and (width <=480px) {
    .newsletter {
        width: 100%;
        height: 250px;
        background-image: url(images/newsletter-mobile.png);
    }

    .newsletter h3, .newsletter div {
        margin-right: 10%;
    }
    
    .newsletter h3 {
        font-size: 24px;
    }
    
    .newsletter input, .newsletter button {
        font-size: 14px;
    }
}












footer {
    display: block;
    background-color: rgb(240, 240, 240);
}

#in-footer {
    display: flex;
    height: 400px;
}

.bloque-1 {
    display: block;
    margin-left: 30px;
    margin-top: 30px;
}

.bloque-1 h2{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
    padding-top: 15px;    
}

#location {
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 30px;
}

#email {
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 30px;
}

.bloque-2 {
    font-family: 'Heebo', sans-serif;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 15px;
    display: block;
    row-gap: 15px;
}

.bloque-2 h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.bloque-mobile-1 {
    display: none;
}

.bloque-3 {
    font-family: 'Heebo', sans-serif;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 15px;
}

.bloque-3 h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.bloque-4 {
    font-family: 'Heebo', sans-serif;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 15px;
}

.bloque-4 h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.bloque-5 {
    font-family: 'Heebo', sans-serif;
    margin-top: 65px;
    margin-left: 30px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.bloque-5 h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.bloque-5 div {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.bloque-5 i {
    font-size: 20px;
    margin-right: 4px;
}
.fa-instagram {
    color: #ee9191;
}
.fa-youtube {
    color: rgb(156, 0, 0);
}


#copyright {
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    margin-left: 35px;
}


@media screen and (width <=1200px) {
    .newsletter {
        background-position: center left;
    }

    .newsletter h3, .newsletter div {
        margin-right: 10%;
    }
    
    .newsletter h3 {
        font-size: 24px;
    }
    
    .newsletter input, .newsletter button {
        font-size: 14px;
    }
}


@media screen and (width <=900px) {
    .in-footer {
        width: 100%;
        height: 250px;
    }
}


@media screen and (width <=480px) {
    #in-footer {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     #in-footer .bloque-1 {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #in-footer .bloque-1 h2 {
        font-size: 35px;
        padding: auto;
        margin-left: 42px;
    }

    #icons-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        margin: auto;
        margin-top: 0;
        margin-left: 92px;

    }
    #icons-footer div{
        font-size: 10px;
        margin-left: 0;
    }
    
    #in-footer .bloque-2 {
        display: none;
    }

    #in-footer .bloque-mobile-1 {
        font-family: 'Heebo', sans-serif;
        display: block;
        row-gap: 15px;
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #in-footer .bloque-mobile-1 h3 {
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #in-footer .bloque-mobile-1 div {
        font-size: 10px;
        text-align: left;
        margin-bottom: 7px;
    }

    #in-footer .bloque-3 {
        font-family: 'Heebo', sans-serif;
        margin-top: 5px;
        margin-left: 30px;
        margin-right: 20px;
    }

    #in-footer .bloque-3 h3 {
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #in-footer .bloque-3 div {
        font-size: 10px;
        text-align: left;
        margin-bottom: 7px;
    }

    #in-footer .bloque-4 {
        display: none;
    }

    #in-footer .bloque-5 {
        font-size: 15px;
        margin-left: 30px;
        margin-top: 5px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        }

    #in-footer .bloque-5 h3 {
        font-size: 15px;
        margin-left: 0;
        margin-bottom: 10px;
    }

    #in-footer .bloque-5 div {
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 7px;
    }

    #in-footer .bloque-5 i {
        font-size: 20px;
        margin-right: 4px;
    }

    .fa-instagram {
        color: #ee9191;
    }
    .fa-youtube {
        color: rgb(156, 0, 0);
    }


    #copyright {
        font-size: 10px;
    }
}
